
<!DOCTYPE html>
<html lang="en">

{{>head}}


<style>
    div.container{
        background-color: rgba(0, 0, 0, 0.3);
        padding: 50px;
        border-radius: 10px;
    }
</style>
<style>
    thead{
        background-color: rgba(100, 100, 100, 0.1);
        font-size: 15px;
        border: roun;
        
    }
    .count{
        font-size: 16px;
    }
  
</style>
<body style="background-image: url('img/bg2.jpg');">
<!-- -----------------------------------------Menu-------------------------------------------- -->
    
        {{>menu}}
    <!--------------------------------------------------------------------------------------------->

    <!-------------------------------------------En tête---------------------------------------------->
    <div class="row"  style="background-color: rgba(20,20,20,0.3)">
        <div class="col s12 white-text">
            <h5>Tracking des équipements</h5>
            <p>
                Réalisé par <a href="#">JOHANESA Asandratry Ny Avo</a> 
            </p>
        </div>
    </div>
    <div class="container" style="margin-bottom: 0vh; bottom:0px;">
        <div class="row" style="background-color: rgba(20, 20, 20, 0)">
                <div class="col 6">
                    <label for="debut">Debut</label>
                    <input type="datetime-local" id="debut" name="debut">
                    <label for="fin">Fin</label>
                    <input type="datetime-local" id="fin" name = "fin">
                </div>
                <div class="col 3">
                    <br>
                    <br>
                    <br>
                    <button onclick="Trier('{{id}}')" class="btn blue"><i class="material-icons">search</i></button>
                </div>
                <div class="col 4">
                    <br>
                    <br>
                    <br>
                    <button onclick="Delete('{{id}}')" class="btn red"><i class="material-icons">delete</i></button>
                </div>
            </div>
    </div>
    
    <!--------------------------------------------------------------------------------------------->
    <div class="container" style="width:80%">
        <form>
            
            <table class="highlight white-text">
                <thead>
                    <th>id_equipement</th>
                    <th>salle</th>
                    <th>position</th>
                    
                    <th>timestamp</th>
                </thead>
                <tbody id="tabBody">
                    
                </tbody>
                <script>
                        function afficher_records(rows)
                        {
                             var tableau = document.getElementById("tabBody");
                             tableau.innerHTML='';
                                for (i =0;i<rows.length;i++)
                                {
                                    let ligne = document.createElement("tr");
                                    time = parseInt(rows[i].timestamp);
                                    time = new Date(time);
                                    HTML = `
                                        
                                                <td>${rows[i].id}</td>
                                                <td>${rows[i].salle}</td>
                                                <td> x: ${rows[i].position.x}, y: ${rows[i].position.y}</td>
                                                <td> ${time}</td>
                                            

                                            `;
                                    ligne.innerHTML += HTML;
                                    tableau.appendChild(ligne);

                                }
                        }
                        function Trier(id)
                        {
                            debut = document.getElementById("debut").value;
                            if (debut)
                                debut = new Date(debut).getTime();
                            fin = document.getElementById("fin").value;
                            if(fin)
                                fin = new Date(fin).getTime();

                            getRecords(id,debut,fin);
                        }
                        function Delete(id)
                        {
                            debut = document.getElementById("debut").value;
                            if (debut)
                                debut = new Date(debut).getTime();
                            fin = document.getElementById("fin").value;
                            if(fin)
                                fin = new Date(fin).getTime();

                            deleteRecords(id,debut,fin);
                            
                        }
                        function getRecords(id,debut=false,fin=false)
                        {
                            var request = new XMLHttpRequest();
                            var rows = [];
                            url = "/crate/equipement/" + id;
                            if(debut)
                                url += "?debut="+debut;
                            if(fin)
                                url += "&fin="+fin;

                            request.open("GET",url,true);
                            request.onload = function ()
                            {
                                console.log(this.response);
                                if (this.status >= 200 && this.status < 400) 
                                {
                                    rows = JSON.parse(this.response).rows;
                                    afficher_records(rows);
                                    

                                }
                            }
                            request.send();
                            
                            
                        }
                        function deleteRecords(id,debut=false,fin=false)
                        {
                            var request = new XMLHttpRequest();
                            var rows = [];
                            url = "/crate/equipement/" + id;
                            if(debut)
                                url += "?debut="+debut;
                            if(fin)
                                url += "&fin="+fin;

                            request.open("DELETE",url,true);
                            request.onload = function ()
                            {
                               
                                window.setTimeout(()=>{ getRecords(id)},500);
                            }
                            request.send();
                            
                            
                        }
                        getRecords("{{id}}");
                    </script>
            </table>
        </form>
        
    </div>

<!-- modal -->

    <a id="new-module" onclick="clear_module();" href="#module-form" class="modal-trigger hide-on-large-only btn-floating btn-large waves-effect waves-light blue-grey">
        <i class="material-icons">add</i>
</a>


    <div id="module-form" class="modal">
        <div class="modal-content">
        <h4>Modification equipement</h4>
        <div class="divider"></div>
        <br>
        <form enctype="multipart/form-data" id="insertion_module" name="insertModule" action="modules/insertModule.php"  onsubmit="return test_module();" method="post"  accept-charset="utf-8">

        <script>
            
            
          
            function modifier_equipement(button)
                {
                    let equipement = info_equipements.rows[parseInt(button.value)];
                    document.getElementById('ins_id').value = equipement.id;
                    document.getElementById('ins_libelle').value = info_selon_index[parseInt(button.value)].libelle;
                    $("#ins_categorie").val(parseInt(info_selon_index[parseInt(button.value)].id_categorie)).change();
                    $('select').formSelect();
                    document.getElementById('label_id').className = 'active';
                    document.getElementById('label_libelle').className = 'active';
                }

              function test_module() {
                let submit = true
                if (document.getElementById('appelation_fruit').value.replace(' ','') == ''){
                    document.getElementById('appelation_fruit').className = "validate invalid";
                  submit = false;
                  
                }

                //Doit soumettre un fichier image
                if(!$('input[type="file"]').val()) {
                    $("#photo_fruit").addClass("invalid");
                    submit = false;
                }
                return submit;
              }
             
        </script>


            <div class="row">
                
                    <div class="input-field col s10">
                        <label id="label_id" for="ins_id">ID</label>
                        <input type="text" id="ins_id" name="ins_id" readonly="readonly">
                    </div>  
                    <div class="input-field col s10">
                       
                            <select name="ins_categorie" id="ins_categorie" onchange="categorie_check(this);">
                                <option value="-1"></option>
                            
                            </select>
                            
                            <label>Categorie </label>
                            <input class="hide" type="text" name="nouveau_categorie" id="nouveau_categorie" value=""/>
                            <script>
                            
                                function categorie_check(select)
                                {
                                    if (!select.value.localeCompare("0"))
                                        document.getElementById("nouveau_categorie").className = "";
                                    else
                                        document.getElementById("nouveau_categorie").className = "hide";
                                }


                                function send()
                                {
                                    
                                    var request = new XMLHttpRequest();
                                    var ins_id = document.getElementById("ins_id").value;
                                    var ins_categorie = document.getElementById("ins_categorie").value;
                                    var nouveau_categorie = document.getElementById("nouveau_categorie").value;
                                    var ins_libelle = document.getElementById("ins_libelle").value;
                                    if (ins_categorie == -1)
                                        return
                                    else
                                    if(ins_categorie == 0)
                                    if(nouveau_categorie.replace(' ','') == "")
                                        return
                                    if(ins_libelle.replace(' ','') == "")
                                        return;
                                    request.open('POST', '/sql/equipment', true);
                                    request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                                    request.onload = () =>
                                    {
                                        
                                            document.getElementById("ins_id").value = "";
                                            document.getElementById("ins_categorie").value = "";
                                            document.getElementById("nouveau_categorie").value = "";
                                            document.getElementById("ins_libelle").value = "";
                                            $("#ins_categorie").val(-1).change();
                                            $('select').formSelect();
                                            
                                    
                                        
                                    };
                                    request.send(JSON.stringify({ins_id,ins_categorie,nouveau_categorie,ins_libelle}));
                                }
                                
                                
                            
                            </script>
                            
                    </div>
                    <div class="input-field col s10">
                        <label id="label_libelle" for="ins_libelle">Libellé</label>
                        <input type="text" id="ins_libelle" name="ins_libelle">
                    </div>
                </div>
            <div class="row">
                <button name="submit" type="submit" class="btn waves-effect waves-light grey-blue" onclick="send();" >
                    Confirmer
                    
                </button>
                
                <button type="reset" onclick="toggle()" class="btn waves-effect waves-light red lighten-2">Annuler</button>
               
                
            </div>
        </form>
        
    </div>
   
   {{> scripts}}
</body>
</html>