<!DOCTYPE html>
<html lang="en">


{{>head}}
 <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>   
<body style="background-image: url('img/bg2.jpg');">

    <!-- -----------------------------------------Menu-------------------------------------------- -->
    
        {{>menu}}
    <!--------------------------------------------------------------------------------------------->

    <!-------------------------------------------En tête---------------------------------------------->
    <div class="row"  style="background-color: rgba(20,20,20,0.3)">
        <div class="col s12 white-text">
            <h5>Videosurveillance</h5>
            <p>
                Réalisé par <a href="#">JOHANESA Asandratry Ny Avo</a> 
            </p>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------------->
    <div class="row">
    


            <!-- Map -->

            <div class="col s12" id='map' style='border: 1px solid black; background-color:rgba(27, 19, 19, 0.555); ' >
                <div class="Scenary"></div>
                {{!-- <video id="videoPlayer" width="100%" height="600em" controls muted="muted" autoplay>
                </video> --}}
            </div>
            <div id='options' class="card-panel col s3 hide"  style="margin-left:1vw; background-color: rgba(75, 66, 66, 0.062);">
                <div class="row" >
                    <form>
                        <div class="col 10">
                                <h5>Options</h5>
                            </div>
                        <div class="container" style="margin-top: 4vh; margin-bottom: 4vh" >
                            
                            <div class=" col s10" >
                                <label>
                                    <input id="alarm_state" type="checkbox" class="filled-in" />
                                    <span class="black-text"> Activer l'alarme</span>
                                </label>
                            </div>
                            <div class="col s10" >
                                <label>
                                    <input id="sound_detection_state" type="checkbox" class="filled-in" />
                                    <span class="black-text">Activer le détecteur de son</span>
                                </label>
                            </div>
                            <div class="input-field col s10">
                                <p class="range-field">
                                    <input id="sensitivity_value" type="range" id="test5" min="0" max="100" />
                                    <label for="test5">Sensibilité de detection</label>
                                </p>
                            </div>
                            
                            <div class="input-field col s10">
                                <select id="recording_state" id="enr">
                                    <option value="1">Continu</option>
                                    <option value="2">Adaptif</option>
                                    <option value="3">Desactivé</option>
                                </select>
                                <label>Enregistrement video</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    


    <!-------------------------------------------Bouton et Modal---------------------------------------------->
   
    <a id="new-module" href="#module-form" class="modal-trigger hide-on-large-only btn-floating btn-large waves-effect waves-light blue-grey">
        <i class="material-icons">add</i>
    </a>


    <div id="module-form" class="modal">
        <div class="modal-content">
        <h4>Cameras</h4>
        <div class="divider"></div>
        <br>
        <form id="insertion_module" name="insertModule" action="#" onsubmit="return test_module();" method="post" enctype="multipart/form-data" accept-charset="utf-8">

        <script>

              function test_module() {
                if (document.getElementById('nom_equipement').value.replace(' ','') == ''){
                    document.getElementById('nom_equipement').className = "validate invalid";
                  return false;
                }
                return true;
              }
             
        </script>


            <div class="row">
                <div class="input-field col s12">
                    <input id="nom_equipement" name="nom_equipement" type="text" require class="validate" >
                    <label id="lab_mod" class="active" for="nom_equipement">Nom de l'équipement</label>
                </div>
            </div>
            <div class="row">
                <button name="submit" type="submit" class="btn waves-effect waves-light grey-blue" >
                    Confirmer
                    
                </button>
                
                <button type="reset" onclick="toggle()" class="btn waves-effect waves-light red lighten-2">Annuler</button>
               
                
            </div>
        </form>
        
    </div>
    <!-------------------------------------------------------------------------------------------------------->


    {{>scripts}}
    <script src="init.js"></script>
</body>
</html>