
<!DOCTYPE html>
<html lang="en">

{{>head}}


<style>
    div.container{
        background-color: rgba(0, 0, 0, 0.3);
        padding: 50px;
        border-radius: 10px;
    }
</style>
<style>
    thead{
        background-color: rgba(100, 100, 100, 0.1);
        font-size: 15px;
        border: roun;
        
    }
    .count{
        font-size: 16px;
    }
  
</style>
<body style="background-image: url('img/bg2.jpg');">
<!-- -----------------------------------------Menu-------------------------------------------- -->
    
        {{>menu}}
    <!--------------------------------------------------------------------------------------------->

    <!-------------------------------------------En tête---------------------------------------------->
    <div class="row"  style="background-color: rgba(20,20,20,0.3)">
        <div class="col s12 white-text">
            <h5>Tracking des équipements</h5>
            <p>
                Réalisé par <a href="#">JOHANESA Asandratry Ny Avo</a> 
            </p>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------------->
    <div class="container" style="width:80%">
        <form action="#">
            <table class="highlight white-text">
                <thead>
                    <th>id</th>
                    <th>username</th>
                    <th>lname</th>
                    <th>fname</th>
                    <th>email</th>
                    <th>superuser</th>
                </thead>
                <tbody id="userList">

                    <tr>
                        <td>24</td>
                        <td>admin</td>
                        <td>admin</td>
                        <td>admin</td>
                        <td>admin@admin.com</td>
                        <td>1</td>
                        
                        <td>
                            <a href="#" class="btn waves-effect waves-light" >
                                <i class="material-icons">edit</i>
                            </a>
                            
                            <button type="submit" class="btn waves-effect waves-light red" value="{{id_equipement}}" name="id_equipement">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </form>
        
    </div>

<!-- modal -->
{{!-- 
    <a id="new-module" onclick="clear_module();" href="#module-form" class="modal-trigger hide-on-large-only btn-floating btn-large waves-effect waves-light blue-grey">
        <i class="material-icons">add</i>
</a> --}}


    <div id="module-form" class="modal">
        <div class="modal-content">
        <h4>Modification equipement</h4>
        <div class="divider"></div>
        <br>
        <form enctype="multipart/form-data" id="insertion_module" name="insertModule" action="modules/insertModule.php"  onsubmit="return test_module();" method="post"  accept-charset="utf-8">


            <div class="row">
                
                    <div class="input-field col s10">
                        <label id="label_id" for="ins_id">ID</label>
                        <input type="text" id="ins_id" name="ins_id" readonly="readonly">
                    </div>  
                    <div class="input-field col s10">
                       
                            <select name="ins_categorie" id="ins_categorie" onchange="categorie_check(this);">
                                <option value="-1"></option>
                            
                            </select>
                            
                            <label>Categorie </label>
                            <input class="hide" type="text" name="nouveau_categorie" id="nouveau_categorie" value=""/>

                            
                    </div>
                    <div class="input-field col s10">
                        <label id="label_libelle" for="ins_libelle">Libellé</label>
                        <input type="text" id="ins_libelle" name="ins_libelle">
                    </div>
                </div>
            <div class="row">
                <button name="submit" type="submit" class="btn waves-effect waves-light grey-blue" onclick="send();" >
                    Confirmer
                    
                </button>
                
                <button type="reset" onclick="toggle()" class="btn waves-effect waves-light red lighten-2">Annuler</button>
               
                
            </div>
        </form>
        
    </div>
   
   {{> scripts}}
   <script src="userList.js"></script>
</body>
</html>