<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking des equipements</title>
    
    <link rel="stylesheet" href="materialize\css\materialize.css" />
    <link rel="stylesheet" href="materialize\iconfont\material-icons.css">
   
    <link rel="stylesheet" href="fontawesome\css\all.min.css">
    <link rel="stylesheet" href="css\style.css" />
    <!--   <link  rel="stylesheet" href="fontawesome\css\bootstrap.min.css">
    <link  rel="stylesheet" href="css\bootstrap.min.css">
    -->
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />

    <style>
        [type="radio"]:checked + span:after,
        [type="radio"].with-gap:checked + span:before,
        [type="radio"].with-gap:checked + span:after {
        border: 2px solid rgb(18, 17, 43);
        }

        [type="radio"]:checked + span:after,
        [type="radio"].with-gap:checked + span:after {
        background-color: rgb(18, 17, 43);
        }
        .input-field input[type=search]:focus:not(.browser-default){
            background-color: transparent;
        }

        /* width */
        ::-webkit-scrollbar {
        width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #888; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #555; 
        }

        .username{
           display:none;
       }
        .divUsername:hover .username{
            transition: 2s;
            display:inline;
        }
    </style>


</head>